<h1>Listing Blog Posts</h1>
 
 
 
  <% @posts.each do |post| %>
	<div class = "col-md-6">	
		<div class = "jumbotron" style = "background-color:rgb(250,250,250)">
			<strong>Poster:</strong><%= post.user.email %><br>
	 		<strong>Title: </strong><%= post.title %><br>
	 		<strong> > </strong> <%= truncate(post.body, length: 10) %><br>
	 		<%= link_to 'Show', post_path(post) %> 
	 		<% if current_user == post.user %>
	 			| <%= link_to 'Edit', edit_post_path(post) %> | 
	 			<%= link_to 'Remove', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %>
	 		<%end%><br>
	 		<%= image_tag(post.image, width:"100px") %>
	  	</div>
	</div> 
 	<% end %>

